<% include header %>

<script type="text/javascript">
	<% images.forEach(function(item){ %>
		$(function(){
			$('#deleteBtn<%=item.id %>').click(function(){
				$.ajax({
					type: "DELETE",
					url: '/admin/image/<%=item.id %>',
					success: function(){
						console.log('image <%=item.id %> deleted');
						window.location = window.location;
					}
				});
			});
		});
	<% }); %>

</script>

<div id="mainContent">

	<form role="form" method="POST" action="/admin/image" enctype="multipart/form-data">
		<div class="form-group">
	    	<label for="inputImage">File input</label>
	    	<input type="file" id="inputImage" name="image">
		</div>
		<button type="submit" class="btn btn-default" id="submit">Submit</button>
	</form>

	<br/><br/><br/>

	
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% images.forEach(function(item){ %>
				<tr>
					<td>
						<%=item.id %>
					</td>
					<td>
  						<a href="/image/<%=item.id %>" class="list-group-item"><%=item.name %></a>
  					</td>
  					<td>
  						<button type="button" class="btn btn-danger" id="deleteBtn<%=item.id %>">Delete</button>
  					</td>
  				</tr>
  			<% }); %>
  		</tbody>
  	</table>
  	

</div>

<% include footer %>