<% include header %>

<div id="mainContent">
	<!--
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<% images.forEach(function(item){ %>
				<tr>
					<td>
						<%=item.id %>
					</td>
					<td>
  						<a href="/image/<%=item.id %>" class="list-group-item"><%=item.name %></a>
  					</td>
  				</tr>
  			<% }); %>
  		</tbody>
  	</table>
	-->

	<h1>Gallery</h1>
	<br/>


	<% images.forEach(function(item){ %>
  		<a href="/upload/<%=item.path.split('\\')[item.path.split('\\').length-1] %>" data-lightbox="image" title="Test" class="example-image">
  			<img src="/upload/<%=item.path.split('\\')[item.path.split('\\').length-1] %>" data-lightbox="<%=item.path.split('\\')[item.path.split('\\').length-1] %>" width="150" height="150">
  		</a>
  	<% }); %>

</div>

<% include footer %>